// Basic setting
@mixin left {@include float-left;}
@mixin right {@include float-right;}
@mixin clear {@include clearfix;}
@mixin none {display: none;}
@mixin block {display: block;}

@mixin bold {font-weight: bold;}
@mixin normal {font-weight: normal;}
@mixin light {font-weight: 300;}

.none {@include none;}
.clear {clear: both;}

// Color variables
// I need to make a refactoring for rgba colors
$background: #363e48;

// Reset of foundation and general element of the site
.top-bar {background-color: transparent;}
.top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button):hover {background-color: transparent;}
.noise {background-image: url(../images/noise.png);}

// Top bar hack
.top-bar-section {
    ul li {
        a {
            background-color: red;
            &:hover {
                background-color: rgba(255, 255, 255, 0.6);
            }
        }
    }
}

// Intro
.intro {
    h1 {text-align: center;}
    h3 {
        text-align: center;
        // font-weight: 100;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        margin-bottom: 4em;
    }
    h4  {margin-bottom: 2em;}
}

.scroll {
    @include none;
}

// Loop of work's
#work {
    margin-bottom: 3em;
    .loop {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        margin-bottom: 2em;
        h4 {
            color: $background;
            font-size: rem-calc(18);
            padding: 10px 0 0 15px
        }
        &:hover {
            .overlay {
                @include block;
            }
        }
        .overlay {
            @include none;
            position: absolute;
            background-color: rgba(54, 62, 72, 0.3);
            text-align: center;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
            img {margin-top: 2em;}
            h3 {font-size: rem-calc(20);}
            ul {
                margin-left: 0;
                li {
                    list-style: none;
                    line-height: 1.6;
                    font-size: rem-calc(14);
                    span {
                        padding: 5px 8px;
                        background-color: rgba(0, 0, 0, 0.6);
                    }
                }
            }
        }
    }
}

// About
#about {
    margin-bottom: 5em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    h2 {font-size: rem-calc(24);}
    p {
        font-weight: 300;
        line-height: 1.8;
        font-size: rem-calc(15);
    }
}

// Progress bar
// I make this module responsive and sassy friendly :), if you wanna user in another proyect.

//The height is auto calculate by jquery check  app.js. And remenber, the total of $bar-width and $bar-margin have to be equal to 100%, in this case 100/8 = 12.5 - 5 = 7.5

// Variables and Colors
$bar-normal-bg: #23282f;
$bar-active-bg: #7ac276;
$bar-radius: 50px;
$bar-width: 7.5%;
$bar-margin: 5%;

// Function
.progress-bar {
    margin-left: 0;
    li {
        float: left;
        list-style: none;
        border-radius: $bar-radius;
        background-color: $bar-normal-bg;
        margin-left: $bar-margin;
        width: $bar-width;
        box-shadow: 0 1px 0 $bar-normal-bg;
    }
    .active {
        background-color: $bar-active-bg;
        box-shadow: 0 1px 0 darken($bar-normal-bg, 20%);
    }
}

.ability {
    float: left;
    width: 40%;
    p {margin-bottom: 0;}
}
.progress-content {
    float: left;
    width: 60%;
    ul {margin-top: 10px}
}
