// Basic setting
@mixin left {@include float-left;}
@mixin right {@include float-right;}
@mixin clear {@include clearfix;}
@mixin none {display: none;}
@mixin block {display: block;}

@mixin bold {font-weight: bold;}
@mixin normal {font-weight: normal;}
@mixin light {font-weight: 300;}

.none {@include none;}
.clear {clear: both;}

.relative {position: relative;}
.absolute {position: absolute;}

// Color variables
// I need to make a refactoring for rgba colors
$background: #363e48;

// Function to make a custom button, don't necessary in this case
// @mixin basic-button($bg-color:$primary-color, $text-color: $white, $size: 14, $padding: 35) {
//     background: $bg-color;
//     color: $text-color;
//     font-size: rem-calc($size);
//     box-shadow: inset 0 -2px 0 darken($bg-color, 20%);
//     padding: rem-calc(11) rem-calc($padding) rem-calc(12);
//     text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
//     &:hover {
//         background: darken($bg-color, 5%);
//         box-shadow: inset 0 -2px 0 darken($bg-color, 20%);
//     }
// }

@mixin shadow-button {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    font-weight: 300;
}

// Reset of foundation and general element of the site
.top-bar {background-color: transparent;}
.top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button):hover, .top-bar-section li:not(.has-form) a:not(.button) {
    background-color: transparent;
}

.noise {background-image: url(../images/noise.png);}

// Top bar hack
.top-bar-section {
    ul li {
        a {
            background-color: $background;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
            span {
                padding: 5px 10px;
                border-radius: 3px;
            }
            &:hover {
                span {
                    background: rgba(0, 0, 0, 0.3);
                }
            }
        }
        .github {
            opacity: 0.7;
            &:hover {opacity: 1;}
        }
    }
}

// Intro
.intro {
    h1 {text-align: center;}
    h3 {
        text-align: center;
        // font-weight: 100;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        margin-bottom: 3em;
    }
    h4  {margin-bottom: 1em;}
}

.scroll {
    position: absolute;
    right: -20px;
    margin-top: -20px;
}

// Loop of work's
#work {
    padding-top: 1em;
    margin-bottom: 3em;
    .loop {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        margin-bottom: 2em;
        h4 {
            color: $background;
            font-size: rem-calc(18);
            padding: 10px 0 0 15px
        }
        &:hover {
            .overlay, .overlay-12 {
                @include block;
            }
        }
        .overlay, .overlay-12 {
            @include none;
            z-index: 9999;
            position: absolute;
            background-color: rgba($background, 0.5);
            text-align: center;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
            img {margin-top: 2em;}
            h3 {font-size: rem-calc(20);}
            .button {
                @include shadow-button;
                font-size: rem-calc(14);
                padding: 13px 15px;
            }
            ul {
                margin-left: 0;
                li {
                    list-style: none;
                    line-height: 2.1;
                    font-size: rem-calc(14);
                    span {
                        padding: 5px 8px;
                        background-color: rgba(0, 0, 0, 0.6);
                    }
                }
            }
        }
        .overlay-12 {
            img {
                margin-top: 15%;
            }
        }
        .static-image {@include none;}
    }
}

// Responsive scroll
.over-image {
    .absolute {
        right: 4.8%;
        top: 235px;
    }
}

#iphone{
    z-index: 2;
    height: 377px;
    width: 212px;
    position: relative;
    overflow: hidden;
    @include none;
}
#slideshow {
    height: 1734px;
    width: 212px;
    background: url(../images/scroll.jpg);
    position: absolute;
    top: 0;
    left: 0;
    // height: 100%;
    // Transition
    -moz-transition:  opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    // Time Animation
    -webkit-animation: moveSlideshow 50s linear infinite;
    -moz-animation:    moveSlideshow 50s linear infinite;
}

@-webkit-keyframes moveSlideshow {
    0% { top: 0; }
    100% { top: -1734px; }
}
@-moz-keyframes moveSlideshow {
    0% { top: 0; }
    100% { top: -1734px; }
}


// About
#about {
    padding-top: 1em;
    margin-bottom: 5em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    h2 {font-size: rem-calc(24);}
    p {
        font-weight: 300;
        line-height: 1.8;
        // font-size: rem-calc(15);
    }
    .quote {
        margin-top: 1em;
        color: #969a9f;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
        font-size: rem-calc(13);
        line-height: 1.4;
    }
}

// Progress bar
// I make this module responsive and sassy friendly :), if you wanna user in another proyect.

//The height is auto calculate by jquery check  app.js. And remenber, the total of $bar-width and $bar-margin have to be equal to 100%, in this case 100/8 = 12.5 - 5 = 7.5

// Variables and Colors
$bar-normal-bg: #23282f;
$bar-active-bg: #7ac276;
$bar-radius: 50px;
$bar-width: 7.5%;
$bar-margin: 5%;

// Function
.progress-bar {
    margin-left: 0;
    li {
        float: left;
        list-style: none;
        border-radius: $bar-radius;
        background-color: $bar-normal-bg;
        margin-left: $bar-margin;
        width: $bar-width;
        box-shadow: 0 1px 0 $bar-normal-bg;
    }
    .active {
        background-color: $bar-active-bg;
        box-shadow: 0 1px 0 darken($bar-normal-bg, 20%);
    }
}

.ability {
    float: left;
    width: 40%;
    p {
        margin-bottom: 0;
        font-size: rem-calc(15);
    }
}
.progress-content {
    float: left;
    width: 60%;
    ul {margin-top: 10px}
    .progress-bar li {cursor: pointer;;}
}

//  Contact
#contact {
    padding-top: 1em;
    margin-bottom: 6em;
    text-align: center;
    .button {@include shadow-button;}
    p {
        font-weight: 300;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    }
}

// Media Querys
@media only screen and (max-width: 40em) {
    .intro h3 {font-size: rem-calc(18);}
    #work .loop .overlay ul li, #work .loop .overlay-12 ul li {display: inline-block;}
    .top-bar-section li:not(.has-form) a:not(.button) {background-color: transparent;}
    #work .loop .overlay-12 img {margin-top: 1em;}
    #work .loop .static-image {@include block;}
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    #work .loop .overlay ul li {display: inline-block;}
    #work .loop .overlay img {margin-top: 1em;}
    #work .loop .overlay-12 img {margin-top: 8%;}
    #work .loop .static-image {@include block;}
}



