*{

	padding:0;
	margin:0;
	box-sizing: border-box;
}


/**************************MAPA ESTILOS*****************************/
.store-wrapper {
	float: left;
	width: 250px;
}

#pruebaMap{
	.seccion-map{
		#map{
			height: 100vh;
			position: absolute;
			top: 0;
			z-index: -100;
		}
		#form{
			width: 700px;
			background-color: rgba(255, 255, 255, 0.8);
			border-radius: 10px;
			padding: 0;
			height: 10vh;
			z-index: 100;
			display: flex;
			align-items: center;
			margin: 15px;
			box-shadow: 0 0 10px 5px rgba(0,0,0,.3);
			img{
				width: 100%;
			}
		}
			#address{

				background: black;
				border-radius: 10px;
				color: white;
				margin: 0;
				padding-left: 10px;
				margin: 0 10px;
			}
			button{
				width: 100%;
				background: #01DFA5;
				color: white;
				font-weight: bolder;
				border: none;
				font-size: 1.5em;
				padding: 10px;
			}
	}
	.row{
		#tienda{
			margin-left: 15px;
			background-color: rgba(255, 255, 255, 0.8);
			border-radius: 10px;
			height: 80vh;
			overflow: scroll;
			width: 100%;
			box-shadow: 0 0 10px 5px rgba(0,0,0,.3);
			p{
				color: #585858;
				margin: 15px;
				font-weight: bolder;
				font-size: 1.3em;
				text-align: center;
			}
			img{
				max-height: 140px;

			}
		}
	}

}
#tienda {
	display: none;
}

.fa-plus{
	@include fijo();
	color:#FA58AC;
	background: white;
	border-radius: 100%;
	padding: 10px 14px;
	margin: 20px;

}
.style-stores{
	-webkit-transition: box-shadow .4s; /* Safari */
	transition: box-shadow .4s;
}
.style-stores:hover{
	box-shadow: 0px 3px 48px -5px rgba(0,0,0,0.75);
}
/**************************FIN MAPA ESTILOS****************************/

